@charset "UTF-8";

.wrap{
    text-align: center;
}

.public_font{
    font-family: '나눔 고딕', 'NanumGothic', '돋움', 'Dotum', 'sans-serif';
}

.wrap_inner {
    width : 1080px;
    display : inline-block;
}

.header {
    text-align: center;
    width : 100%;
    background-color: #000;
    height : 120px;
    text-align: center;
}

.header_text {
    width : 1080px;
    display : inline-block;  
    background-color: transparent;
    text-align: left;
    color : #fff;
    font-weight: bold;
    font-size : 40px;
    padding : 40px 0;
    margin : 0 0 0 40px;
}

/**/

.wrap_inner_1000{
    width : 1000px;
}

.title {
    font-size : 16px;
    color : #000;
    border : 1px solid #d1d1d1;
    display: inline-block;
    height : 33px;
    width : 20%;
    
}

.title:hover {
    border : #454545;
    font-weight: bold;
}

.blank {
    display : inline-block;
    width : 14px;
    height : 33px;
    visibility: hidden;
}


/**/

.element_wrap{
    
    margin : 0 40px 0 40px;
}

.element {
    font-size: 20px;
    color : #000;
    font-weight: bold;
    text-align: left;
    margin : 0;
}

.element:after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom : 0;
    border-bottom: 1px solid #dadada;
}

table {
    width: 100%;
    border: 1px solid transparent
  }
  td {
    padding: 10px;
    border: 1px solid 
  }

  .b {
    border-collapse: collapse;
  }

.b:before {
    content: "";
    display: block;

    margin-top : 30px;
    border-color: transparent;
    visibility: hidden;
}

.table_title {
    text-align: left ; 

    background-color : #f7f7f7;
    border : 1px solid;
    border-color : #d1d1d1;

    font-size : 16px;
    color : #333;
    font-weight : bold;

    padding : 20px 0 20px 15px;
    margin : 30px 0 0 0;
}

.table_content{
    text-align: left;

    background-color : #f7f7f7;
    border : 1px solid;
    border-color : #d1d1d1;
    
    font-size : 12px;
    color : #000;

    padding : 30px 30px;
    margin : -10px 0 0 0;
}

.footer_line {
    border-top : 1px solid;
    border-color : #d1d1d1;
    margin : 40px 0 0 0;
}

.footer_addr{
    font-size : 12px;
    color : #999;
}

.footer_right{
    font-size : 12px;
    color : #000;
}