@charset "UTF-8";

.wrap{
    text-align: center;
}

.public_font{
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

.wrap_inner {
    width : 1000px;
    display : inline-block;
    margin : 40px;
}

.header {
    text-align: center;
    width : 100%;
    background-color: #000;
    height : 120px;
}

.header_text {
    font-size : 40px;
    color : #fff;
    font-weight: bold;
    height : 40px;
    width : 1000px;
    display : inline-block;  
    background-color: transparent;
    text-align: left;
    margin : 40px;
}

.title {
    font-size : 16px;
    padding : 8.5px 0; /*총 높이 33px*/
    color : #000;
    border : 1px solid #d1d1d1;
    display: inline-block;
    width : 31.4%;
    margin : 0;
}

.title:hover {
    border : #454545;
    font-weight: bold;
}

.space {
    display : inline-block;
    visibility: hidden;
    width : 14px;
    margin : 0;
}

.formation_name {
    font-size: 20px;
    color : #000;
    font-weight: bold;
    text-align: left;
    margin : 40px 0 0;
}

.formation_name:after {
    border-bottom: 1px solid #454545;
    content: "";
    display: block;
    width: 100%;
    margin-top: 15px;
}

table {
    width: 100%;
    border: 1px solid transparent;
  }
  .table_collapse {
    border-collapse: collapse;
  }

.table_collapse:before {
    content: "";
    display: block;
    margin-top : 30px;
    border-color: transparent;
    visibility: hidden;
}

.table_title {
    font-size : 16px;
    color : #333;
    font-weight : bold;
    background-color : #f7f7f7;
    border : 1px solid #d1d1d1;
    text-align: left;
    padding : 15px 0 15px 15px;
    margin : 30px 0 0;
}

.table_content{
    font-size : 12px;
    color : #000;
    border : 1px solid;
    border-color : #d1d1d1;
    text-align: left;
    padding : 30px;
    margin : -10px 0 0;
}

.footer_line {
    border-top : 1px solid;
    border-color : #d1d1d1;
}

.footer_addr{
    font-size : 12px;
    color : #999;
}

.footer_right{
    font-size : 12px;
    color : #000;
}