.wrap {
    background-color: #000;
    height : 120px;
    width : auto;
    text-align: center;
}

/*footer제외 모든 엘리먼트 소지한 태그의 클래스*/
.wrapInner {
    width : 1080px;
    display : inline-block;
}

.headerText {
    text-align: left;
    color : #fff;
    font-weight: bold;
    font-size : 40px;
    padding : 40px;
}

#mouseHover:hover{
    border : #454545;
    font-weight: bold;
}

.tableElement {
    border : 1px #d1d1d1;
    width : 320px;
    height : 33px;
    margin : 40px 14px 0 40px;
}

.formElement {
    border : 1px #d1d1d1;
    width : 320px;
    height : 33px;
    margin : 40px 14px 0 0;
}

.listElement{
    border : 1px #d1d1d1;
    width : 320px;
    height : 33px;
    margin : 40px 40px 0 0;
}

.element {
    font-size: 20px;
    color : #000;
    font-weight: bold;
    text-align: left;
    margin : 40px 0 0 40px;
    border-bottom : 1px solid;
    border-color : #454545;
}

table {
    margin : 30px 30px 0 40px;
}

.tableTitle{
    width : 1000px;
    text-align: left;

    background-color : #f7f7f7;
    border : 1px solid;
    border-color : #d1d1d1;
    
    font-size : 16px;
    color : #333;
    font-weight : bold;
    padding : 0 0 0 15px;
}

.tableContents {

    width : 1000px;
    text-align: left;

    background-color : #f7f7f7;
    border : 1px solid;
    border-color : #d1d1d1;
    
    font-size : 16px;
    color : #333;
    font-weight : bold;
    padding : 0 0 0 15px;
}

.footerLine {
    border-top : 1px solid;
    border-color : #d1d1d1;
}