.wrap {
    background-color: #000;
    height : 120px;
    text-align: center;
}

/*footer제외 모든 엘리먼트 소지한 태그의 클래스*/
.wrapInner {
    width : 1080px;
    display : inline-block;
}

header.headerText {
    text-align: left;
    color : #fff;
    font-weight: bold;
    font-size : 40px;
    height : 100%;
    margin : 0 40px 40px;
}

#mouseHover:hover{
    border : #454545;
    font-weight: bold;
}

nav.wrapElement{
    margin :  0 40px;
}

.tableElement {
    border : 1px solid #d1d1d1;
    height : 33px;
    margin : 40px 14px 40px 0;
    width: 32%
}

.formElement {
    border : 1px solid #d1d1d1;
    height : 33px;
    margin : 40px 14px 40px 0;
    width: 32%
}

.listElement{
    border : 1px solid #d1d1d1;
    height : 33px;
    margin : 40px 0;
    width: 32%;
}

.element {
    font-size: 20px;
    color : #000;
    font-weight: bold;
    text-align: left;
    margin : 40px 40px 0 40px;
    
    border-bottom : 1px solid;
    border-color : #454545;
}

.elementTable{
    
    margin : 40px 0 0 0px;
}

.elementTitle {

    width : 1000px;
    text-align: left ; 

    background-color : #f7f7f7;
    border : 1px solid;
    border-color : #d1d1d1;

    font-size : 16px;
    color : #333;
    font-weight : bold;

    padding : 20px 0 20px 15px;
    margin : 40px 40px 0;

}

.elementContents{
    width : 1000px;
    text-align: left;

    background-color : #f7f7f7;
    border : 1px solid;
    border-color : #d1d1d1;
    
    font-size : 12px;
    color : #000;

    padding : 30px 0 30px 15px;
    margin : 0px 40px 0;

}

.footerLine {
    border-top : 1px solid;
    border-color : #d1d1d1;
    margin : 40px 0 0 0;
}

.footerAddr{
    font-size : 12px;
    color : #999;
}

.footerRight{
    font-size : 12px;
    color : #000;
}